<div class="bg-primary h-screen" style="background: linear-gradient(to bottom, #055e4c, #007673, #004745);">
  <!-- Toolbar -->
  <div class="flex justify-center items-center h-[20%]">
    <div class="flex flex-col h-[20%]">
      <img class="h-16 w-16 mx-auto" src="../assets/images/logo_sem_texto.png">
      <img class="h-8 " src="./assets/images/logo_texto.png">
    </div>
  </div>
  <div class="flex-1 mt-16 mb-5 bg-white sm:max-w-[400px] sm:mx-auto rounded-lg shadow-lg px-4 pt-2 pb-8 mx-3 relative ">

      <!-- Email Input -->
      <div class="relative w-full mt-8 ">
        <input
          id="custom-input"
          type="text"
          placeholder=" "
          [(ngModel)]="email"
          class="peer w-full h-10 px-4 text-sm rounded-lg bg-white border border-gray-300 text-gray-800 focus:outline-none focus:ring-2 focus:ring-primary focus:bg-white transition"
        />
        <label
          for="custom-input"
          class="absolute left-4  text-gray-500 text-sm px-1   transform -translate-y-1/2  transition-all peer-placeholder-shown:top-1/2
             peer-placeholder-shown:text-gray-400 peer-placeholder-shown:text-base
            peer-focus:text-sm peer-focus:text-primary bg-white"
            [ngClass]="{'peer-focus:-top-0.5': email === '', '-top-0.5'  : email !== ''}"> Email
        </label>
      </div>

      <!-- Password Input -->
      <div class="relative w-full mt-6">
        <input
          id="custom-input"
          type="text"
          [type]="!hiddenPassword ? 'password' : 'text'"
          [(ngModel)]="password"
          placeholder=" "
          class="peer w-full h-10 px-4 text-sm rounded-lg bg-white border border-gray-300 text-gray-800 focus:outline-none focus:ring-2 focus:ring-primary focus:bg-white transition"
        />
        <label
          for="custom-input"
          class="absolute left-4 transform -translate-y-1/2 text-gray-500 text-sm px-1 transition-all
            peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-gray-400 peer-placeholder-shown:text-base
            peer-focus:text-sm peer-focus:text-primary bg-white"
            [ngClass]="{'peer-focus:-top-0.5': password === '', '-top-0.5': password !== ''}">
          Senha
        </label>
        <div
        (click)="viewPassword()"
        class="absolute top-[12px] right-3 cursor-pointer -mt-0.5">
        <img
          *ngIf="hiddenPassword"
          src="./assets/icon/eye-slash.svg"
          class="h-5">
        <img
          *ngIf="!hiddenPassword"
          src="./assets/icon/eye.svg"
          class="h-5">
        </div>
      </div>

      <div class="flex justify-between w-full ">
        <!-- Remember Email Checkbox -->
        <div class="flex items-center mt-6">
          <input
            id="remember-email"
            type="checkbox"
            [(ngModel)]="rememberEmail"
            class="mr-2 h-4 w-4 bg-white border-gray-300 rounded focus:ring-primary"
          />
          <label for="remember-email" class="text-sm text-gray-800">Lembrar Email</label>
        </div>
        <div class="text-primary mt-6 text-sm" (click)="navegate('forgot')">
          Esqueci a senha
        </div>
      </div>

      <!-- Login Button -->
      <button (click)="login()" class="mt-6 btn-primary" expand="block">Entrar</button>


  </div>
</div>
