<div class="px-[70px] pt-5 text-gray-700 w-full">
  <div class="w-full">
    <div>
      <div class="text-xl text-gray-700">Categorias</div>
      <div>Gerencie as categorias presentes no aplicativo</div>
    </div>
    <div class="mt-4">
      <app-table
        class="w-full"
        [btnText1]="'Adicionar categorias'"
        [columns]="columns"
        [data]="data"
        [onButtonClick]="handleButtonClick"
        [onEdit]="editarCategorias"
        [onDelete]="excluirCategorias"
      ></app-table>
    </div>
  </div>
</div>
